<div>
    <ul>
        @for (customer of customers(); track customer) {
            <li [class.discontinued]="customer.discontinued" [class.selected]="isSelectedCustomer(customer)" (click)="listItemClicked($event, customer)">
                <span>{{customer.firstname}}</span>
                @if (customer.city) {
                    <span> : {{customer.city}}</span>
                }
                @if (customer.lastOrderDate | currentActiveCustomers) {
                    <span style="color: green; margin-left: 5px;">*</span>
                }
            </li>
        }
    </ul>
</div>