<form [formGroup]="trainingForm" *ngIf="training$ | async; else loadingProgress">
    <div style="margin-right: 10px; ">
        <img class="logo" [src]="training?.imageUrl">
    </div>
    <div>
        <p >Name: <input  type="text" formControlName="name"></p>
        <p>Beschreibung: <input  type="text" formControlName="description"></p>
    </div>
    <div [class.take-place-soon]="training?.nextRun | takePlaceSoon : 5">
        {{ training?.nextRun | date:'mediumDate' }}
      </div>
      
</form>
<ng-template #loadingProgress>
    Loading Training...
  </ng-template>
