<div>
    @if (isLoading()) {
        <p>Lade Kunden...</p>
    }
    @if (error()) {
        <p class="error">Fehler beim Laden der Kunden.</p>
    }
    <ul>
        @for (customer of customers(); track customer) {
            <li [class.discontinued]="customer.discontinued" [class.selected]="isSelectedCustomer(customer)" (click)="listItemClicked($event, customer)">
                <a [routerLink]="[customer.id]">
                    <span>{{customer.firstname}}</span>
                    @if (customer.city) {
                        <span> : {{customer.city}}</span>
                    }
                </a>
            </li>
        }
    </ul>
</div>